<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.smarthealth-app"
        version   = "2.0.0">

    <name>Smart Health</name>

    <description>
        Aplicación para estar al día de todo lo relacionado con innovación.
    </description>

    <author href="http://www.shealth.eu" email="ma.armengol@shealth.eu">
        Smart Health Lab
    </author>
<!---plugins--->



<preference name="phonegap-version" value="3.5.0" />
<preference name="fullscreen" value="true" />
<preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
<preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
<preference name="DisallowOverscroll" value="true" />


<!--icons -->

<icon src="icon.png" />

<icon src="cordova/cordova_android_36.png" gap:platform="android" gap:density="ldpi"/>

<icon src="cordova/cordova_android_48.png" gap:platform="android" gap:density="mdpi"/>

<icon src="cordova/cordova_android_72.png" gap:platform="android" gap:density="hdpi"/>

<icon src="cordova/cordova_android_96.png" gap:platform="android" gap:density="xhdpi"/>

<icon src="cordova/cordova_bb_80.png" gap:platform="blackberry"/>

<icon src="cordova/cordova_bb_80.png" gap:platform="blackberry" gap:state="hover"/>

<icon src="cordova/cordova_ios_57.png" gap:platform="ios" width="57″ height="57″/>

<icon src="cordova/cordova_ios_72.png" gap:platform="ios" width="72″ height="72″/>

<icon src="cordova/cordova_ios_114.png" gap:platform="ios" width="114″ height="114″/>

<icon src="cordova/cordova_ios_144.png" gap:platform="ios" width="144″ height="144″/>



<icon src="cordova/cordova_64.png" gap:platform="webos"/>

<icon src="cordova/cordova_48.png" gap:platform="winphone"/>

<icon src="cordova/cordova_173.png" gap:platform="winphone" gap:role="background"/>

 <!--welcome screens -->

<gap:splash src="cordova/res/screen/android_ldpi_portrait.png.png" gap:platform="android" gap:density="ldpi"/>

<gap:splash src="cordova/res/screen/android_mdpi_portrait.png" gap:platform="android" gap:density="mdpi"/>

<gap:splash src="cordova/res/screen/android_hdpi_portrait.png" gap:platform="android" gap:density="hdpi"/>

<gap:splash src="cordova/res/screen/android_xhdpi_portrait.png" gap:platform="android" gap:density="xhdpi"/>

<gap:splash src="cordova/res/screen/blackberry_transparent_300.png" gap:platform="blackberry"/>



<gap:splash src="cordova/res/screen/iphone_portrait.png" gap:platform="ios" width="320" height="480"/>

<gap:splash src="cordova/res/screen/iphone_retina_portrait.png" gap:platform="ios" width="640" height="960"/>

<gap:splash src="cordova/res/screen/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" />



<gap:splash src="cordova/res/screen/ipad_portrait.png" gap:platform="ios" width="768" height="1024"/>

<gap:splash src="cordova/res/screen/ipad_landscape.png" gap:platform="ios" width="1024" height="768"/>


<gap:splash src="cordova/res/screen/windows_phone_portrait.jpg" gap:platform="winphone"/>

<preference name="SplashScreenDelay" value="30000" />